.button-add__bck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #ccc;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
}

.button-add__yellow,
.button-add__black {
    display: inline-block;
    outline: none;
    color: #fff;
    border: none;
    text-decoration: none;
    max-width: 1200px;
    width: 95%;
    height: 50px;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    padding-top: .2rem;
    cursor: pointer;
}

.button-add__yellow {
    background-color: #fc3;
}

    .button-add__yellow:hover {
        background-color: #f7bb08;
    }

.button-add__black {
    background-color: #000;
}

    .button-add__black:hover {
        background-color: #333;
    }